:root {
  --color-defaultLight: #d8b0f7;
  --color-defaultBold: #9a71f0;
  --color-defaultWarning: #ff5447;
  --color-defaultWhite: #fff;
  --color-defaultOrange: #ff5100;
  --color-defaultOrangeLight: #f7a16f;
  --color-defaultLemon: #f6ff7c;
  --color-defaultBlueLight: #aecdff;
  --color-defaultBlueBold: #0a82ff;
}

/*아이콘*/
svg {
  cursor: pointer;
  width: 22px;
  height: 22px;
}
svg:hover {
  color: var(--color-defaultBold);
}

/*공통*/
.flex-align-center {
  display: flex;
  align-items: center;
}

/*사이드 메뉴*/
.linkSideNav {
  display: flex;
  align-items: center;
}

/*메인*/
.iconEdit {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

/*상세 모달*/
.linkPostDetailUserInfo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.inline-flex {
  display: inline-flex;
  width: auto;
  align-items: center;
}
.position-right {
  position: absolute;
  right: -14px;
}
.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  color: var(--color-defaultOrange);
}

/* 업로드 css */
.iconUploadTop {
  position: relative;
  margin: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.iconUpload {
  width: 60px;
  height: 60px;
}

.imgInput {
  /* display: none; */
  border: 1px solid;
  width: 200px;
}
